<ion-header>
  <vg-player>
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>
  
      <vg-scrub-bar>
          <vg-scrub-bar-current-time ></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>
  
      <vg-controls [vgAutohide]="true" [vgAutohideTime]="3">
          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
  
          <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
  
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
      </vg-controls>
    <video [vgMedia]="media" #media id="singleVideo" preload="auto" poster="../../assets/poster.png">
      <source src="http://127.0.0.1:8080/src/assets/video/2%20Timothy%201%20(Week%201%2C%20Day%201).mp4" type="video/mp4">
    </video>
  </vg-player>
</ion-header>

<ion-content padding>
  <div class="breadcrumb">
    <ion-select placeholder="Week 1" interface="popover">
      <ion-select-option value="week01">Week 1</ion-select-option>
      <ion-select-option value="week02">Week 2</ion-select-option>
      <ion-select-option value="week03">Week 3</ion-select-option>
    </ion-select>

    <ion-select placeholder="Day 1" interface="popover">
      <ion-select-option value="day01">Day 1</ion-select-option>
      <ion-select-option value="day02">Day 2</ion-select-option>
      <ion-select-option value="day03">Day 3</ion-select-option>
      <ion-select-option value="day04">Day 4</ion-select-option>
      <ion-select-option value="day05">Day 5</ion-select-option>
    </ion-select>
  </div>
  <ion-text>
    <h1>{{data.title}}</h1>

    <p class="scripture-reference">{{data.passage_ref}}</p>

    <p *ngFor="let paragraph of data.passage_text">{{paragraph}}</p>
  </ion-text>

  <ion-text>
    <h2>Introduction</h2>
    <p>{{data.text_content.prayer_intro}}</p>
  </ion-text>

  <ion-text>
    <h2>Message</h2>
    <p *ngFor="let paragraph of data.text_content.body">{{paragraph}}</p>
  </ion-text>

  <ion-text>
    <h2>Closing Prayer</h2>
    <p>{{data.text_content.prayer_outro}}</p>
  </ion-text>

  <ion-button (click)="markAsComplete()" expand="block">Mark as Complete</ion-button>

</ion-content>
