<ion-header *ngIf="mediaType != 'transcript' && data!==null">
  <vg-player (onPlayerReady)="onPlayerReady($event)"  (click)="onClick()">
      <vg-buffering></vg-buffering>
      <div class="vg-custom-overlay">
          <div class="overlay-play-container vg-icon-play_arrow"></div>
      </div>
      <vg-controls>
          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
      </vg-controls>
      <vg-scrub-bar>
          <vg-scrub-bar-current-time ></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>
    <video [vgMedia]="media" #media id="singleVideo" preload="auto" poster="../../assets/poster.png">
      <source src="{{ data.video_url }}" type="video/mp4" *ngIf="mediaType == 'video'">
      <source src="{{ data.audio_url }}" type="audio/mp3" *ngIf="mediaType == 'audio'">
    </video>
  </vg-player>
  <ion-button ngClass="read" (click)="readTranscript()" expand="block">Read</ion-button>
</ion-header>

<ion-content padding *ngIf="data!==null">
  <div class="breadcrumb">
    <ion-select placeholder="Week 1" interface="popover">
      <ion-select-option value="week01">Week 1</ion-select-option>
      <ion-select-option value="week02">Week 2</ion-select-option>
      <ion-select-option value="week03">Week 3</ion-select-option>
    </ion-select>

    <ion-select placeholder="Day 1" interface="popover">
      <ion-select-option value="day01">Day 1</ion-select-option>
      <ion-select-option value="day02">Day 2</ion-select-option>
      <ion-select-option value="day03">Day 3</ion-select-option>
      <ion-select-option value="day04">Day 4</ion-select-option>
      <ion-select-option value="day05">Day 5</ion-select-option>
    </ion-select>
  </div>
  <ion-text>

    <h1>{{data.title}}</h1>

    <p class="scripture-reference">{{data.passage_ref}}</p>

    <p *ngFor="let paragraph of data.passage_text">{{paragraph}}</p>
  </ion-text>

  <ion-text>
    <h2>Introduction</h2>
    <p>{{ data.text_content.prayer_intro }}</p>
  </ion-text>

  <ion-text>
    <h2>Message</h2>
    <p *ngFor="let paragraph of data.text_content.body">{{paragraph}}</p>
  </ion-text>

  <ion-text>
    <h2>Closing Prayer</h2>
    <p>{{data.text_content.prayer_outro}}</p>
  </ion-text>

  <ion-button (click)="markAsComplete()" expand="block">Mark as Complete</ion-button>

</ion-content>
