<ion-header>
  <ion-toolbar>
    <ion-title>
      DigDeeper
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

 
  <div *ngFor="let week of studies">
    <h2>{{ week.week }}</h2>
    
    <ion-list>
      <ion-item *ngFor="let s of week.studies">
        <ion-label>{{ s.title }}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="home" [routerLink]="['/home']">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="study" [routerLink]="['/study']">
        <ion-label>Study</ion-label>
        <ion-icon name="paper"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="settings" [routerLink]="['/settings']">
        <ion-label>Settings</ion-label>
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
