<ion-header>
  <ion-toolbar>
    <ion-title>
      DigDeeper Devotions
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Study List -->
<ion-list inset="false" lines="full">
  <ion-item *ngFor="let week of studies" (click)="weekClick(week)">
    <ion-icon name="{{weekIcon(week)}}" size="large" slot="start"></ion-icon>
    <ion-label text-wrap>
      <ion-text>
        <h3>
          <span class="week">{{week.week}}: </span>
          <span class="subtitle">{{week.title}}</span>
        </h3>
      </ion-text>
      <ion-text color="medium">
        <p class="passage">{{week.passage}}</p>
      </ion-text>
    </ion-label>

    <ion-icon *ngIf="!isDownloaded(week)" name="cloud-download" color="medium" size="small" slot="end"></ion-icon>
  </ion-item>
</ion-list>

<ion-content>
  <!-- Navigation -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="home" [routerLink]="['/home']">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="study" [routerLink]="['/study']">
        <ion-label>Study</ion-label>
        <ion-icon name="paper"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="settings" [routerLink]="['/settings']">
        <ion-label>Settings</ion-label>
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
