* {
  font-size: 16px;
}
ion-item {
  h3 .subtitle {
    font-weight: bold;
  }

  .passage {
    font-style: italic;
  }
}

.study-list {
  max-height: 0;
  transition: max-height 0.4s ease-out;

  &.active {
    max-height: 300px;
    transition: max-height 0.75s ease-in;
  }
}